html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

hr {
  background-color: gray;
}

main {
  min-height: 90vh;
  align-items: center;
}

.header {
  background: white;
  /* position: fixed; */
  width: 100%;
}

.footer {
  background-color: rgba(1, 13, 137, 0.812);
  padding: 20px;
}

.footer hr {
  width: 90%;
  height: 3px;
  background-color: gray;
  color: gray;
}

.footer p {
  font-weight: bold;
  color: #fff;
}

.menu {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80px;
}

.logo {
  float: left;
}

.title {
  text-align: center;
  font-size: 25px;
}
.subtitle {
  text-align: center;
}

.smtext {
  font-size: 13px;
}

.content {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
}

.center {
  display: grid;
  justify-content: center;
}

.button {
  width: fit-content;
  border-radius: 15px;
  /* font-weight: bold; */
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  padding: 3px 8px 3px 8px;
  background-color: transparent;
  border: 2px solid orange; /* rgb(255, 195, 65);*/
  color: black;
}

.button:hover,
.button:focus,
.button:active {
  background-color: orange; /* rgb(255, 195, 65);*/
  color: white;
}
