.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  margin: auto;
}

.card {
  display: grid;
  justify-items: center;
  grid-template-rows: 10% 80% 10%;
  min-width: 350px;
  min-height: 350px;
}

.card2 {
  margin: 30px;
  padding: 20px;
  display: grid;
  justify-items: center;
  grid-template-rows: 30% 10% 50% 10%;
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 350px;
  min-height: 350px;
}

.card3 {
  margin: 30px;
  display: grid;
  justify-items: center;
  grid-template-rows: 60% 40%;
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 350px;
  min-height: 350px;
}
